# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Data and model artifacts
*.csv
data/
model.h5
scaler.joblib
threshold.npy
*.tflite

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
